mixin sOperators(data)
	// start sOperators
	+b.SECTION.sOperators.bg-dark.section#sOperators&attributes(attributes)
		.container
			img.after( src="img/svg/operator-after.svg", alt="")
			img.before( src="img/svg/operator-before.svg", alt="")
			+b.section-title
				h2 Выберите оператора
				.h5 Оператор фискальных данных, сокращенно ОФД, принимает чеки с&nbsp;кассы и&nbsp;передает их&nbsp;в&nbsp;налоговую
			.row
				- for (var x = 1; x < 10; x++)
					+e.col.col-lg-4.col-md-6
						+e.item(href="#")
							+e.DIV.img-wrap
								+pic(`operator-${x}.png`,'',0)
							+e.DIV.foot.row
								+e.DIV.td.col
									+e.DIV.text 12 месяцев
									+e.DIV.price 1 290 ₽
								+e.DIV.td.col
									+e.DIV.text 15 месяцев
									+e.DIV.old-price 1 890
									+e.DIV.price--new 1 490 ₽
								+e.DIV.td.col
									+e.text 36 месяцев
									+e.price 2 890 ₽
	// end sOperators