
	// start .sOperators
	.sOperators {
		&__old-price{
			font-size: 12px;
			text-decoration: line-through;
		}

		// --sPT: ;
		@include media-breakpoint-up(sm){

			--sPB: #{rem(120)};
		}
		// --sTPB: ;
		.container{
			position: relative;
			z-index: 2;
			.after,
			.before{
				z-index: -1;
				position: absolute;
			}
			.after{
				top: rem(50);
				right: rem(-260);
			}
			.before{
				bottom: rem(-100);
				left: rem(-180);
			}
		}
		.section-title{
			max-width: rem(700);
		}
		.row{
			--bs-gutter-x:13px;
			justify-content: center;
		}
		&__item{
			color: $body-color;
			background-color: #fff;
			// box-shadow: inset 1px 2px 0 $primary;
			border: 2px solid transparent;
			position: relative;
			&::before{
				content: '';
				@include a-cent;
				border-radius: 30px;
				background: rgba(47, 128, 237, .1);
				@include mt;
				opacity: 0;
			}
			&:hover{
				border-color: $primary;
				&::before{
					opacity: 1;
				}
			}
			&:focus{
				box-shadow: 0 0 0 0.25rem rgba(47, 128, 237, .25);
			}
			@include media-breakpoint-up(xl) {
			// --h: #{rem(378)};
			} 
			@include media-breakpoint-up(lg) {
			--h: #{rem(302)};
			} 
			@include media-breakpoint-up(md) {
			--h: #{rem(336)};
		} 
		--h: #{rem(306)};

				height: var(--h); 
			margin-bottom: rem(15);
			box-shadow: 0px 28px 32px -19px rgba(0, 0, 0, 0.18);
			border-radius: 30px;
			display: flex;
			flex-direction: column;
		}
		&__img-wrap{
			flex-grow: 1;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 1rem;
		}
		&__td{
			padding-top: rem(12);
			min-height: rem(90);
			border-top: 1px solid rgba($color: #5D7782, $alpha: .1);
			text-align: center;
			&:not(:last-child){
				border-right: 1px solid rgba($color: #5D7782, $alpha: .1);

			}
		}
		&__text{
			opacity: 0.5;
		}
		&__price{
			font-weight: bold;
			@extend .h6;
			&--new{
				color: #2BB398;
			}
		}
		 
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	//
	@include media-breakpoint-between(md, xl) { }
	//
	@include media-breakpoint-only(xl) {}
	//
	@include media-breakpoint-down(xl) {}
} // end.sOperators