:root {
	--animate-delay: 1.2s;
	@include media-breakpoint-up(lg) {

		--fontSizeBase: #{$em-base};
	}
	--fontSizeBase: 14px;
 
		@include media-breakpoint-up(sm) {

			--sTPB: #{rem(66)};
		}
		--sPB: #{rem(68)};
		// --sPB: #{rem(48)};
		--sPT: #{rem(66)};
		 
		--sTPB: #{rem(66 / 2)};


		--swiperArrowSize: #{rem(68)};
		--swiperArrowPosition: calc(-1 * var(--swiperArrowSize) / 2);
		--swiperBorderColorDef: var(--bs-primary);
		--swiperColorDef: var(--bs-primary);
		--swiperBgDef: #ffffff;
	
		--swiperBorderColorDefHover: var(--bs-primary);
		--swiperColorDefHover: var(--bs-primary);
		--swiperBgDefHover: #ffffff;


		@include media-breakpoint-up(lg) {
			--t-n-h: #{rem(123)};
		}
		--t-n-h: #{rem(73)};
}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

//
@include media-breakpoint-between(md, xl) {}


//
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}

//
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}