mixin headerBlock()
	// start headerBlock
	+b.headerBlock#headerBlock&attributes(attributes)
		.container.section
			h1 Лучшие цены на ОФД
			p Тут вы&nbsp;можете приобрести коды активации офд со&nbsp;скидками до&nbsp;70%
			+e.btn(href="#sOperators") Выбрать офд
			img(src="img/svg/head-img.svg" loading="lazy", alt="")
	// end headerBlock