extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sOperators/_sOperators.pug
include ../blocks/sWhy/_sWhy.pug
include ../blocks/sPriceBlock/_sPriceBlock.pug
include ../blocks/sConnecting/_sConnecting.pug

block variables
	- let  mainPage= null
	- let  bg= null
block title
	- let  title= 'Авторизация'
	title= title
block pagecontent

	+mob-mnu()
	header.header
		+top-nav()
	//- +headerBlock()
	//- +sPriceBlock
	//- +sConnecting
	+sWhy2()
		+e.head.row.g-4
			.col-auto.pt-2
				a.link-back(href="#")
					+icon("arrow-left")
			.col
				h1.strong= title
		+form-wrap.form-wrap--login
			p Введите ваши данные для входа <br> в личный кабинет
			.row 
				.col-sm-6 
					+input("Введите логин",'email','Ваш логин (e-mail)')
			 
				.col-sm-6 
					+input("Введите пароль",'password','Пароль') 
				.col-sm-6.pb-4
					+e.btn(type="submit").w-100 Войти 
			.row 
				.col-auto.h6.strong Нет аккаунта?
				.col-auto.h6.strong
					a(href="#") Зарегистрируйтесь
	//- +sForm()
	+footer()


	