extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sOperators/_sOperators.pug
include ../blocks/sWhy/_sWhy.pug
include ../blocks/sPriceBlock/_sPriceBlock.pug
include ../blocks/sConnecting/_sConnecting.pug
include ../blocks/sCabinet/_sCabinet.pug

block variables
	- let  mainPage= null
	- let  bg= '07.jpg'
block title
	- let  title= 'Контрагенты'
	title= title
block pagecontent

	+mob-mnu()
	header.header
		+top-nav()
	//- +headerBlock()
	//- +sPriceBlock
	//- +sConnecting
	+b.page-head
		.container
			.row.g-4
				.col-auto.pt-2
					a.link-back(href="#")
						+icon("arrow-left")
				.col
					h1.strong= title
	+sCabinet
		+b.order-block--contr 
			table.main-table 
				thead
					th.smallest ID
					th.smallest Наименование
					th.smallest Дата добавления
					th.smallest.text-md-center Заказы
					th.smallest.text-md-center По умолчанию
				tbody
					mixin tr(t,c)
						tr.main-tr
							td.main-td(data-title="ID")
								.fw-500.text-primary 19852


							td.main-td(data-title="Наименование")  ООО “Мудаки”
							td.main-td.strong(data-title="Дата добавления") 05.03.2018 
							td.main-td.text-md-center(data-title="Заказы") 12
							td.main-td.text-md-center(data-title="По умолчанию")
								.form-check.form-switch
									input.form-check-input(type='checkbox')
					+tr()
					+tr() 
	+footer()


	