extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sOperators/_sOperators.pug
include ../blocks/sWhy/_sWhy.pug
include ../blocks/sPriceBlock/_sPriceBlock.pug
include ../blocks/sConnecting/_sConnecting.pug
include ../blocks/sBasket/_sBasket.pug

block variables
	- let  mainPage= null
	- let  bg= null
block title
	- let  title= 'Корзина'
	title= title
block pagecontent

	+mob-mnu()
	header.header
		+top-nav()
	//- +headerBlock()
	//- +sPriceBlock
	//- +sConnecting
	+b.page-head
		.container
			.row.g-4
				.col-auto.pt-2
					a.link-back(href="#")
						+icon("arrow-left")
				.col
					h1.strong= title
	+sBasket
	+footer()


	