.navMenu{
	list-style: none;
	@include media-breakpoint-up(xl){
		--bs-gutter-x: #{rem(48)};
	}
	@include media-breakpoint-up(lg) {
		
		display: flex;
		@include roww(rem(10),m);
		flex-wrap: wrap;
		justify-content: center;
	}
	position: relative;
	margin-bottom: 0; 
	font-weight: bold;

	&__link{
		display: block;
		text-align: center;
		padding: rem(20) 0;
		color: $body-color;
		&:hover,
		&.active{
			color: $primary;
		}
	}
}