mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js.d-lg-none
		+b.toggle-menu-mobile--js
			span
		+e.inner

			a.d-block.text-center.mb-3(href="/")
				img.res-i(src="img/svg/logo.svg", alt="")
			+mnu()
			.text-center 
				a.top-nav__tel(href="tel:+79859989988") +7 985 998 99 88
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			.row
				.col-lg-auto.col
					a(href="/")
						img.res-i(src="img/svg/logo.svg", alt="")
				.col.d-none.d-lg-block
					
						+mnu()
				.col-auto.d-none.d-sm-block 
					+e.tel(href="tel:+79859989988") +7 985 998 99 88
				.col-auto 
					+e.btn(href="#")
						+icon('user')
				.col-auto 
					+e.btn(href="#")
						+icon('basket')
						+e.basket-count 99
				.col-auto.d-lg-none
					+b.toggle-menu-mobile--js
						span
					
	// end top-nav